<form>
    <legend style="font-size: var(--font-size-fluid-2); font-weight: var(--font-weight-6);">Subscribe</legend>
    <fieldset style="display: inline-block;">
    <label for="email">email</label>
    <input type="text" name="email">
    </fieldset>
    <button type="submit">Send</button>
</form>